{:id :acolyte.officer
 :name "Acolyte Officer"
 :faction :the-black-hand
 :description "Squad leader that gives powerful offensive buffs to squad mates"
 :abilities {:inspiring-presence
             {:id :inspiring-presence
              :name "Inspiring"
              :description "Allies get moral boost while this unit is alive and a moral shock when killed"
              :cooldown 0}
             :mark-target
             {:id :mark-target
              :name "Mark Target"
              :description "Allies gain advantage on attacks against marked target. lasts 2 rounds."
              :cooldown 3}
             :teamwork
             {:id :teamwork
              :name "Teamwork"
              :description "Trade 1AP with any ally in sight for immediate use"
              :cooldown 2}}}
