{:id :acolyte.dozer
 :name "Acolyte Dozer"
 :faction :the-black-hand
 :description "An ultra heavy chain gun wielding heavy class with the ability to shrug off most attacks."
 :abilities {:huge
             {:id :huge
              :name "Huge"
              :description "Cannot take cover"
              :cooldown 0}
             :spin-up
             {:id :spin-up
              :name "Spin Up"
              :description "Increase the speed of the chain gun by one which increases the number of shots fired by one. (removed after taking headshot or staggered by explosives)"
              :cooldown 3}}}
