{:id :acolyte.medic
 :name "Acolyte Medic"
 :faction :the-black-hand
 :description "Support infantry unit focusing on defensive buffs"
 :abilities {:quick-heal
             {:id :quick-heal
              :name "Quick Heal"
              :description "Healing after moving is a free action"
              :cooldown 2}
             :smoke
             {:id :smoke
              :name "Smoke"
              :description "Disperse a cloud of smoke granting disadvantage on all incoming attacks"
              :cooldown 2}
             :cover-target
             {:id :cover-target
              :name "Cover Target"
              :description "Take a reaction shot against covered target on any action except hunkering, reloading, or other non-offensive actions"
              :cooldown 2}}}
